<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" type="text/css" href="/css/style1.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
        <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/home">Movie Description</a></li>
                <li><a href="/remove">Delete Movie</a></li>
                <li><a href="/opret">Create Movie</a></li>
                <li><a class="active" href="/bestillinger">Orders</a></li>
              </ul>


    <section class="flex-container3">         
    <% for(var i=0; i<orders.length; i++) {%>
            <div class="box flex3">
                    
                        <h2>Movie Order</h2>            
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>order</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Movie Name</td>
                              <td><%= orders[i].MovieName%></td>
                             
                            </tr>
                            <tr>
                              
                              <td>First Name</td>
                              <td><%= orders[i].FirstName%></td>
                            </tr>
                            <tr>
                              
                              <td>Last Name</td>
                              <td><%= orders[i].LastName%></td>
                            </tr>
                            <tr>
                            <td>Adress</td>
                            <td><%= orders[i].Adress%></td>
                            </tr>
                          </tbody>
                        </table>
                      
                  </div>
           
    <% } %>
</section> 
<section class="flex-containerBestil">
  <div class="box footer">
    <hr>
   ©2018 - NodeJs-Eksamen
  </div>
 </section>
</body>
</html>


